# Описание

Проект на проверку знаний по изменению DataFrame-ов и работой с ним

Файл набора данных: *../files/inventory.csv*

In [1]:
# импортируем библиотеку pandas
import pandas as pd

# загружаем данные в переменную
inventory = pd.read_csv('../files/inventory.csv')

# отобразим первые пару строк набора данных
print(inventory.head())

        location  product_type product_description  quantity  price
0  Staten Island         seeds               daisy         4   6.99
1  Staten Island         seeds          calla lily        46  19.99
2  Staten Island         seeds              tomato        85  13.99
3  Staten Island  garden tools                rake         4  13.99
4  Staten Island  garden tools         wheelbarrow         0  89.99

In [3]:
# Сохраним в переменную staten_island все строки значения которых в колонке location ему равны
staten_island = inventory[inventory.location == 'Staten Island']

# выведем полученный результат
print(staten_island.head())

# проверим действительно ли в столбце location находятся только те строки которые равны staten island
print(staten_island.location.unique())

        location  product_type product_description  quantity  price
0  Staten Island         seeds               daisy         4   6.99
1  Staten Island         seeds          calla lily        46  19.99
2  Staten Island         seeds              tomato        85  13.99
3  Staten Island  garden tools                rake         4  13.99
4  Staten Island  garden tools         wheelbarrow         0  89.99
['Staten Island']

In [4]:
# Теперь получим выборку из данных значения которых
# location - Brooklyn
# product_type - seeds
# переменную назовем seed_request

seed_request = inventory[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]

# выведем результат
print(seed_request)

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

In [5]:
# Добавим колонку in_stock которая будет содеражть булевое значение
# True если кол-во quantity больше 0
# False если равно 0

inventory['in_stock'] = inventory.apply(lambda row: True if row.quantity > 0 else False, axis =1)

# результат
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

In [7]:
# создадим новую колонку которая будет равно результату умножения значения price и quantity
# данную колонку назовем total_value

inventory['total_value'] = inventory.apply(lambda x: x.price * x.quantity, axis=1)

print(inventory.head())

        location  product_type product_description  quantity  price  in_stock  \
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

   total_value
0        27.96
1       919.54
2      1189.15
3        55.96
4         0.00

In [8]:
# Создади новую колонку которая будет содержать строку данных состоящую из значений колонок product_type и product_description
# колонку назовем full_description
# на этот раз lambda функцию следует создать не методе apply()
combine_lambda = lambda x: f'{x.product_type} - {x.product_description}' 

inventory['full_description'] = inventory.apply(combine_lambda, axis=1)

print(inventory.head())

        location  product_type product_description  quantity  price  in_stock  \
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

   total_value            full_description
0        27.96               seeds - daisy
1       919.54          seeds - calla lily
2      1189.15              seeds - tomato
3        55.96         garden tools - rake
4         0.00  garden tools - wheelbarrow