# Описание

Выполним небольшой проект на проверку усвоенных знаний

Набор данных: ../files/census_data.csv

In [19]:
import pandas as pd

census = pd.read_csv('../files/census_data.csv', index_col=0)

print(census.head())

  first_name  last_name birth_year  voted  num_children  income_year  \
0     Denise      Ratke       2005  False             0     92129.41
1       Hali  Cummerata       1987  False             0     75649.17
2    Salomon        Orn       1992   True             2    166313.45
3     Sarina   Schiller       1965  False             2     71704.81
4       Gust  Abernathy       1945  False             2    143316.08

       higher_tax marital_status
0        disagree         single
1         neutral       divorced
2           agree         single
3  strongly agree        married
4           agree        married

In [20]:
# выведите типы данных набора
print(census.dtypes)

first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [21]:
# Получите среднее значение даты рождения
# Учтите что тип данных колонки является object в таком случае значит в переменной хранятся не только числа но и другие типы данных

# выведем уникальные значения колонки birth_year
print(census.birth_year.unique())

['2005' '1987' '1992' '1965' '1945' '1951' '1963' '1949' '1950' '1971'
 '2007' '1944' '1995' '1973' '1946' '1954' '1994' '1989' '1947' '1993'
 '1976' '1984' 'missing' '1966' '1941' '2000' '1953' '1956' '1960' '2001'
 '1980' '1955' '1985' '1996' '1968' '1979' '2006' '1962' '1981' '1959'
 '1977' '1978' '1983' '1957' '1961' '1982' '2002' '1998' '1999' '1952'
 '1940' '1986' '1958']

In [22]:
# По результату можно сказать что требуется заменить часть данных в колонке
# Воспользуемся методом replace

census['birth_year'] = census.birth_year.replace(['missing'], 0)

# еще раз выведем уникальные значения колонки
print(census.birth_year.unique())

['2005' '1987' '1992' '1965' '1945' '1951' '1963' '1949' '1950' '1971'
 '2007' '1944' '1995' '1973' '1946' '1954' '1994' '1989' '1947' '1993'
 '1976' '1984' 0 '1966' '1941' '2000' '1953' '1956' '1960' '2001' '1980'
 '1955' '1985' '1996' '1968' '1979' '2006' '1962' '1981' '1959' '1977'
 '1978' '1983' '1957' '1961' '1982' '2002' '1998' '1999' '1952' '1940'
 '1986' '1958']

In [23]:
# теперь изменим тип данных колонки
census['birth_year'] = census.birth_year.astype('int')

# и выведем на экран среднее значение года рождения
print(census.birth_year.mean())

1953.73

In [24]:
# Создайте тип данных categorical для колонки higher_tax
# strongly disagree < disagree < neutral < agree < strongly agree

census['higher_tax'] = pd.Categorical(census['higher_tax'], ['strongly disagree', 'disagree', 'neutral', 'agree', 'strongly agree'], ordered=True)

# выведем результат на экран
print(census.higher_tax.unique())

['disagree', 'neutral', 'agree', 'strongly agree', 'strongly disagree']
Categories (5, object): ['strongly disagree' < 'disagree' < 'neutral' < 'agree' < 'strongly agree']

In [25]:
# Отобразите медианное значение данных колонки higher_tax
# используйте метод cat.codes для обозначения важности числом
census['higher_tax'] = census['higher_tax'].cat.codes

print(census.head())

  first_name  last_name  birth_year  voted  num_children  income_year  \
0     Denise      Ratke        2005  False             0     92129.41
1       Hali  Cummerata        1987  False             0     75649.17
2    Salomon        Orn        1992   True             2    166313.45
3     Sarina   Schiller        1965  False             2     71704.81
4       Gust  Abernathy        1945  False             2    143316.08

   higher_tax marital_status
0           1         single
1           2       divorced
2           3         single
3           4        married
4           3        married

In [26]:
# выведем медианное значение колонки
print(census.higher_tax.median())

2.0

In [28]:
# Примените метод OHE (One-Hot Encoding) для колонки marital_status
# и выведите первые пару строк нового набора

census = pd.get_dummies(data=census, columns=['marital_status'])

print(census.head())

  first_name  last_name  birth_year  voted  num_children  income_year  \
0     Denise      Ratke        2005  False             0     92129.41
1       Hali  Cummerata        1987  False             0     75649.17
2    Salomon        Orn        1992   True             2    166313.45
3     Sarina   Schiller        1965  False             2     71704.81
4       Gust  Abernathy        1945  False             2    143316.08

   higher_tax  marital_status_divorced  marital_status_married  \
0           1                    False                   False
1           2                     True                   False
2           3                    False                   False
3           4                    False                    True
4           3                    False                    True

   marital_status_single  marital_status_widowed
0                   True                   False
1                  False                   False
2                   True                   False
3                  False                   False
4                  False                   False